doctype html
html
head
	title= title
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
body
	div(class="navbar navbar-inverse navbar-fixed-top")
		div(class="container")
			div(class="navbar-header")
				a(href="/" class="navbar-brand") Sistema NodeJs
			div(class="collapse navbar-collapse" id="navbar-main")
				ul(class="navbar-nav nav")
					li(class="dropdown")
						a(href="/usuarios") Usuários
					li
						a(href="/") Teste
					li
						a(href="/") Teste
	div(class="container")
		block content

		footer
			p Desenvolvido por Joilson Rezende
